/* ===================================================== */
/* MOBILE */
/* ===================================================== */

body {
  background-color: #f3bdc3;
  color: #0a2eb8;
  font-size: 1.75rem;
  font-family: georgia, serif;
}

/* HEADER / NAV BAR */

header {
  position: sticky;
  top: 0;
  border: dotted 0.9375em #212121;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style-type: none;
  font-size: 1.75rem;
  padding: 0.625rem;
}

nav a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 3.8125rem;
  color: #fff5a6;
}

#about {
  text-align: center;
}

img {
  height: 540px; 
  width: 540px; 
}

h2 {
  margin-left: 1.25em;
  padding-right: 1.25em;
  font-size: 1.25rem;
  font-weight: bold;
  color: #212121;
}

/* EXPERIENCE SECTION */

.work-experience {
  border-bottom: 0.0625em solid #fff5a6;
  margin: 30px;
}

.work-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.95rem;
}

/* #experience ul {
  list-style-type: none;
  display: flex;
}

#experience li {
  position: relative;
  padding-left: 35px;
  margin-right: 28px;
  margin-bottom: 12px;
  font-size: 16px;
}

#experience li::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("https://media.tenor.com/8gDqRf_x0rkAAAAj/bunny.gif");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* SKILLS SECTION */

#skills ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#skills li {
  background-color: #fff5a6;
  padding: 1rem;
  border-radius: 1.563rem;
  font-size: 0.8em;
}

/* PROJECTS SECTION */

#projects ul {
  list-style-type: none;
  justify-content: space-evenly;
  columns: 3;
  column-gap: 50px;
  padding: 10px;
  column-rule: 10px solid #fff5a6;
}

#projects li::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("../images/halftone-bunny-b.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

#projects a {
  text-decoration: none;
}

#projects a:hover {
  color: #fff5a6;
  text-decoration: underline;
}

/* LEAVE A MESSAGE! SECTION */
#form {
  text-align: center;
  border: #fff5a6 0.35em dotted;
  padding-bottom: 1em;
}

/* CONNECT SECTION */

#connect ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#connect li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.1875em;
  margin-right: 1.75em;
  margin-bottom: 0.75em;
  font-size: 0.8em;
}

#connect li::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url("../images/halftone-bunny-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

#connect a {
  text-decoration: none;
}

#connect a:hover {
  color: #fff5a6;
  text-decoration: underline;
}

/* ===================================================== */
/* TABLET */
/* ===================================================== */

@media (min-width: 768px) {
  body {
    font-size: 2.3em;
  }

  header nav ul {
    font-size: 2.35rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 1.5em;
    margin-left: 0.3em;
    padding-right: 0.3em;
  }
}

/* ===================================================== */
/* DESKTOP */
/* ===================================================== */

@media (min-width: 1024px) {
  header {
    border: dotted 0.5375em #212121;
  }

  h1 {
    font-size: 5rem;
  }
}
